.cabeçalho_lista {
    background-color: rgb(255, 159, 175);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
    }
    
    .cabeçalho_imagem {file:///tmp/guest-k4pjso/Downloads/_.jpeg
    width: 25%;
    height: 25%;
    }
    
    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;
    
    }
    
    * {
    margin: 0 16px;
    padding: 24px 0;
    }